{% extends 'base.html.twig' %}
{% block title %}Portofolio Florence Bouvier {% endblock %}

{% block body %}
<body class="is-preload">

<div id="wrapper">


	<header id="header" class="alt">
		<a href="index.html" class="logo"><strong>Portfolio</strong> <span>update 1/5/19.</span></a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>


	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Bonjour, Je m'appelle Florence Bouvier</h1>
			</header>
			<div class="content">
				<p>Je suis développeuse web.</p>
				<ul class="actions">
					<li><a href="#one" class="button next scrolly">En savoir plus</a></li>
				</ul>
			</div>
		</div>
	</section>


	<div id="main">


		<section id="two">
			<div class="inner">
				<header class="major">
					<h2>A propos</h2>
				</header>
				<p>Une double compétence, ça vous dit ? <br /> Voici mon parcours..
					Responsable export dans le secteur du transport pendant de nombreuses années, j’ai œuvré chez TNT, UPS, PROST. J’ai aussi été planificatrice logistique et dernièrement responsable de l’assortiment e- commerce dans nos plateformes distribution client Ikéa. Aujourd’hui, je souhaite me positionner comme développeuse web à temps plein. Activité initiée aux prémices du web, passion qui ne m’a jamais quittée, que je continue à développer grâce à l’autoformation et une veille quotidienne ainsi qu’à une formation récente à la Wild Code School, école du numérique, qui m’a permis de remettre à niveau mes compétences acquises depuis les prémices (;) dans les années 2000.. et me spécialiser sur SYMFONY3. Je travaille également les technos suivantes : HTML5, CSS3, Bootstrap, Ajax, JAVA, POO, SQL, PHP, Github, Javascript, Wordpress, Joomla, Windev (en cours). <br />Dispo immédiatement, je souhaite intégrer une société à taille humaine basée idéalement Sud Lyon, Nord Isère comme développeuse Web. Vous pouvez me joindre au 07.66.50.29.68.</p></p>
					<ul class="actions">
						<li><a href="doc/cvReactualise210419.pdf" target="_blank"class="button next">Lire mon CV</a></li>
					</ul>
				</div>
			</section>
			<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="images/stjustchaleyssin.jpg" alt="" />
					</span>
					<header class="major">
						<h3>stjustchaleyssin.com</h3>
						<p>Développement Joomla.</p>
						<ul>
							<a href="https://www.stjustchaleyssin.com" class="button next" target="_blank">Aller sur le site</a>
						</ul>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/revealers.jpg" alt="Site web Revealer.io" />
					</span>
					<header class="major">
						<h3>Revealers.io</h3>
						<p>Développement Symfony3</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/ecommune.jpg" alt="Site vitrine e-Commune.info" />
					</span>
					<header class="major">
						<h3>E-commune.info</h3>
						<p>Développement Wordpress  </p>
						<ul>
							<a href="https://www.e-commune.info" target="_blank" class="button next" >Aller sur le site</a>
						</ul>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/lyoncapitaldev.jpg" alt="" />
					</span>
					<header class="major">
						<h3>LyonCapitalDeveloppement.com </h3>
						<p>Développement Wordpress</p>
					</header>
					<ul>
						<a href="https://www.lyoncapitaldeveloppement.com" target="_blank" class="button next" >Aller sur le site</a>
					</ul>
				</article>
				<article>
					<span class="image">
						<img src="images/miwok1.jpg" alt="" />
					</span>
					<header class="major">
						<h3>Miwok App</h3>
						<p>Développement App Android</p>
					</header>
				</article>
			</section>
		</div>


		<section id="contact">
			<div class="inner">
				<section>
					<form method="post" action="#">
						<div class="fields">
							<div class="field half">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</div>
							<div class="field half">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" />
							</div>
							<div class="field">
								<label for="message">Message</label>
								<textarea name="message" id="message" rows="6"></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="primary" /></li>
							<li><input type="reset" value="Clear" /></li>
						</ul>
					</form>
				</section>
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon alt fa-envelope"></span>
							<h3>Email</h3>
							<a href="#">information@untitled.tld</a>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon alt fa-phone"></span>
							<h3>Phone</h3>
							<span>(000) 000-0000 x12387</span>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon alt fa-home"></span>
							<h3>Address</h3>
							<span>1234 Somewhere Road #5432<br />
								Nashville, TN 00000<br />
								United States of America</span>
							</div>
						</section>
					</section>
				</div>
			</section>


			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		</div>
{% endblock %}
